:root {
  --color-bitcoin: #f7931a;
  --color-dark: #333;
  --color-grey: #989898;
  --color-light: #e8e9eb;
  --color-white: #f7f7f7;
  --color-primary: #ff6633;
  --opacity: 0.8;
  --transition: 0.2;
  --box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
